# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# created-by: conda 24.11.3
_openmp_mutex=4.5=5_kmp_llvm
aiofiles=24.1.0=pypi_0
aiohappyeyeballs=2.6.1=pypi_0
aiohttp=3.13.1=pypi_0
aiosignal=1.4.0=pypi_0
altair=5.5.0=pypi_0
annotated-types=0.7.0=pypi_0
anyio=4.11.0=pypi_0
attrs=25.4.0=pypi_0
blas=1.0=mkl
blinker=1.9.0=pypi_0
brotli=1.1.0=pypi_0
bzip2=1.0.8=hda65f42_8
ca-certificates=2025.10.5=hbd8a1cb_0
cachetools=6.2.1=pypi_0
certifi=2025.10.5=pypi_0
charset-normalizer=3.4.4=pypi_0
click=8.3.0=pypi_0
cpython=3.11.14=py311hd8ed1ab_1
cuda-cudart=12.1.105=0
cuda-cupti=12.1.105=0
cuda-libraries=12.1.0=0
cuda-nvrtc=12.1.105=0
cuda-nvtx=12.1.105=0
cuda-opencl=13.0.85=hf384b4a_0
cuda-runtime=12.1.0=0
cuda-version=13.0=3
dataclasses-json=0.6.7=pypi_0
defusedxml=0.7.1=pypi_0
faiss-gpu=1.11.0=py3.11_h4818125_0_cuda12.1.1
fastapi=0.119.1=pypi_0
ffmpy=0.6.3=pypi_0
filelock=3.20.0=pyhd8ed1ab_0
filetype=1.2.0=pypi_0
fonttools=4.60.1=pypi_0
fpdf2=2.8.4=pypi_0
frozenlist=1.8.0=pypi_0
fsspec=2025.9.0=pypi_0
gitdb=4.0.12=pypi_0
gitpython=3.1.45=pypi_0
gmp=6.3.0=hac33072_2
gmpy2=2.2.1=py311h92a432a_1
gradio=5.49.1=pypi_0
gradio-client=1.13.3=pypi_0
greenlet=3.2.4=pypi_0
groovy=0.1.2=pypi_0
h11=0.16.0=pypi_0
hf-xet=1.1.10=pypi_0
httpcore=1.0.9=pypi_0
httptools=0.7.1=pypi_0
httpx=0.28.1=pypi_0
httpx-sse=0.4.3=pypi_0
huggingface-hub=0.35.3=pypi_0
icu=75.1=he02047a_0
idna=3.11=pypi_0
jinja2=3.1.6=pyhd8ed1ab_0
joblib=1.5.2=pypi_0
jsonpatch=1.33=pypi_0
jsonpointer=3.0.0=pypi_0
jsonschema=4.25.1=pypi_0
jsonschema-specifications=2025.9.1=pypi_0
langchain=0.3.27=pypi_0
langchain-classic=1.0.0=pypi_0
langchain-community=0.3.31=pypi_0
langchain-core=0.3.79=pypi_0
langchain-huggingface=0.3.1=pypi_0
langchain-nvidia-ai-endpoints=0.3.18=pypi_0
langchain-text-splitters=0.3.11=pypi_0
langgraph=1.0.0=pypi_0
langgraph-checkpoint=2.1.2=pypi_0
langgraph-prebuilt=1.0.0=pypi_0
langgraph-sdk=0.2.9=pypi_0
langsmith=0.4.37=pypi_0
ld_impl_linux-64=2.44=ha97dd6f_2
libblas=3.9.0=1_h86c2bf4_netlib
libcblas=3.9.0=12_h832b8c9_netlib
libcublas=12.1.0.26=0
libcufft=11.0.2.4=0
libcufile=1.15.1.6=h2e68323_0
libcurand=10.4.0.35=h50d9014_0
libcusolver=11.4.4.55=0
libcusparse=12.0.2.55=0
libexpat=2.7.1=hecca717_0
libfaiss=1.11.0=h4818125_0_cuda12.1.1
libffi=3.4.6=h2dba641_1
libgcc=15.2.0=h767d61c_7
libgcc-ng=15.2.0=h69a702a_7
libgfortran=15.2.0=h69a702a_7
libgfortran-ng=15.2.0=h69a702a_7
libgfortran5=15.2.0=hcd61629_7
libhwloc=2.12.1=default_h7f8ec31_1002
libiconv=1.18=h3b78370_2
liblapack=3.9.0=12_hd37a5e2_netlib
liblzma=5.8.1=hb9d3cd8_2
libnpp=12.0.2.50=0
libnsl=2.0.1=hb9d3cd8_1
libnvjitlink=12.1.105=0
libnvjpeg=12.1.1.14=0
libsqlite=3.50.4=hee844dc_0
libstdcxx=15.2.0=h8f9b012_7
libstdcxx-ng=15.2.0=h4852527_7
libuuid=2.41.2=he9a06e4_0
libxcrypt=4.4.36=hd590300_1
libxml2=2.15.0=h26afc86_1
libxml2-16=2.15.0=ha9997c6_1
libzlib=1.3.1=hb9d3cd8_2
llvm-openmp=15.0.7=h0cdce71_0
markdown-it-py=4.0.0=pypi_0
markupsafe=3.0.3=py311h3778330_0
marshmallow=3.26.1=pypi_0
mdurl=0.1.2=pypi_0
mkl=2023.0.0=h84fe81f_26648
mpc=1.3.1=h24ddda3_1
mpfr=4.2.1=h90cbb55_3
mpmath=1.3.0=pyhd8ed1ab_1
multidict=6.7.0=pypi_0
mypy-extensions=1.1.0=pypi_0
narwhals=2.9.0=pypi_0
ncurses=6.5=h2d0b736_3
networkx=3.5=pyhe01879c_0
numpy=1.26.4=py311h64a7726_0
ocl-icd=2.3.3=hb9d3cd8_0
opencl-headers=2025.06.13=h5888daf_0
openssl=3.5.4=h26f9b46_0
orjson=3.11.3=pypi_0
ormsgpack=1.11.0=pypi_0
packaging=25.0=pyh29332c3_1
pandas=2.3.3=py311hed34c8f_1
pillow=11.3.0=pypi_0
pip=25.2=pyh8b19718_0
propcache=0.4.1=pypi_0
protobuf=6.33.0=pypi_0
pyarrow=21.0.0=pypi_0
pydantic=2.11.10=pypi_0
pydantic-core=2.33.2=pypi_0
pydantic-settings=2.11.0=pypi_0
pydeck=0.9.1=pypi_0
pydub=0.25.1=pypi_0
pygments=2.19.2=pypi_0
python=3.11.14=hfe2f287_1_cpython
python-dateutil=2.9.0.post0=pyhe01879c_2
python-dotenv=1.1.1=pypi_0
python-multipart=0.0.20=pypi_0
python-tzdata=2025.2=pyhd8ed1ab_0
python_abi=3.11=8_cp311
pytorch=2.5.1=py3.11_cuda12.1_cudnn9.1.0_0
pytorch-cuda=12.1=ha16c6d3_6
pytorch-mutex=1.0=cuda
pytz=2025.2=pyhd8ed1ab_0
pyyaml=6.0.3=py311h3778330_0
rank-bm25=0.2.2=pypi_0
readline=8.2=h8c095d6_2
referencing=0.37.0=pypi_0
regex=2025.9.18=pypi_0
requests=2.32.5=pypi_0
requests-toolbelt=1.0.0=pypi_0
rich=14.2.0=pypi_0
rpds-py=0.27.1=pypi_0
ruff=0.14.1=pypi_0
safehttpx=0.1.6=pypi_0
safetensors=0.6.2=pypi_0
scikit-learn=1.7.2=pypi_0
scipy=1.16.2=pypi_0
semantic-version=2.10.0=pypi_0
sentence-transformers=5.1.1=pypi_0
setuptools=80.9.0=pyhff2d567_0
shellingham=1.5.4=pypi_0
six=1.17.0=pyhe01879c_1
smmap=5.0.2=pypi_0
sniffio=1.3.1=pypi_0
sqlalchemy=2.0.44=pypi_0
starlette=0.48.0=pypi_0
streamlit=1.50.0=pypi_0
sympy=1.13.1=pypi_0
tbb=2021.13.0=hb60516a_3
tenacity=9.1.2=pypi_0
threadpoolctl=3.6.0=pypi_0
tk=8.6.13=noxft_hd72426e_102
tokenizers=0.22.1=pypi_0
toml=0.10.2=pypi_0
tomlkit=0.13.3=pypi_0
torchtriton=3.1.0=py311
tornado=6.5.2=pypi_0
tqdm=4.67.1=pypi_0
transformers=4.57.1=pypi_0
typer=0.20.0=pypi_0
typing-inspect=0.9.0=pypi_0
typing-inspection=0.4.2=pypi_0
typing_extensions=4.15.0=pyhcf101f3_0
tzdata=2025b=h78e105d_0
urllib3=2.5.0=pypi_0
uvicorn=0.38.0=pypi_0
uvloop=0.22.1=pypi_0
watchdog=6.0.0=pypi_0
watchfiles=1.1.1=pypi_0
websockets=15.0.1=pypi_0
wheel=0.45.1=pyhd8ed1ab_1
xxhash=3.6.0=pypi_0
yaml=0.2.5=h280c20c_3
yarl=1.22.0=pypi_0
zstandard=0.25.0=pypi_0
